body
{
  display:flex;
  justify-content:center;
  background:black;
  padding-left:20px;
  padding-right:20px;
}
.container-mac
{
  width:90vw;
  height:80vh;
  min-height:400px;
  background-color:black;
  display:flex;
  flex-direction:column;
  padding:5px;
  border:2px inset green;
}

.tab-bar
{
  width:inherit;
  height:10%;
  margin-bottom:1%;
  background-color:black;
  display:flex;
  align-items:center;
}

.options
{
  color:green;
    font-family:Chicago;
  margin-right:2%;
}

#logo-option
{
background:url('https://rajanlabs.000webhostapp.com/computer.png');
  background-size: cover;
  height:20px;
  width:20px;
  margin-left:1%;
}

.header-mac
{
 width:inherit;
 height:5%;        background:url('https://rajanlabs.000webhostapp.com/assets/green_horizontal_line.png');
 display:flex;
  justify-content:space-between;
}

.close-button
{
  width:20px;
  height:20px;
  margin-left:2%;
  border-left:5px solid black;
  border-right:5px solid black;
  border-bottom:5px solid black;
  border-top:2px solid black;
  background-color:green;
}

.header-title
{
  background-color:black;
  color:green;
  padding-left:10px;
  padding-right:10px;
  font-family:Chicago;
}
.info-button
{
  width:20px;
  height:20px;
  border-left:5px solid black;
  border-right:5px solid black;
  border-bottom:5px solid black;
  background-color:green;
  visibility:hidden;
} 


.header-info
{
    width:inherit;
    height:5%;
  margin-top:1%;
  border:2px solid green;
  background-color:black;
  display:flex;
  justify-content:space-between;
  align-items:center;
}


.header-info-items
{
  background-color:black;
  color:green;
  padding-left:10px;
  padding-right:10px;
  font-family:Chicago;
}

.header-info-disk-size
{
  background-color:black;
  color:green;
  padding-left:10px;
  padding-right:10px;
  font-family:Chicago;
}

.header-info-available-size
{
  background-color:black;
  color:green;
  padding-left:10px;
  padding-right:10px;
  font-family:Chicago;
}



.scale
{
    width:inherit;
    height:6%;
    background-color:black;
}

.content
{
    width:inherit;
  min-height:300px;
    height:80%;
    border:2px solid green;
  display:flex;
  justify-content:center;
}

.content-main
{
  height:100%;
  width:98%;
}

.content-scroll
{
  height:100%;
  width:2%;
}

.row-one-folder
{
  display:flex;
  justify-content:space-around;
  padding-top:2%;
}

.item-one
{
  color:green;
  min-width:70px;
  font-family:Chicago;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.content-scroll
{
  max-width:20px;
    text-align:center;
}

.up-arrow
{
  height:7%;
  text-align:center;
  background:green;
}

.content-scroll-bar
{
  height:86%;
  background:green;
  border:1px outset black;
}

.down-arrow
{
  height:7%;
  text-align:center;
  background:green;
}

/* box-shadow: -1px 1px 2px 5px rgba(0,0,0,0.75); */
.footer
{
    width:98.5%;
  
    max-height:4%;
    display:flex;
  background:black;
}

.left-arrow
{
  width:2%;
    text-align:center;
  background:green;
}

.right-arrow
{
  width:2%;
    text-align:center;
  background:green;
}

.horizontal-scroll-bar
{
  width:96%;
    text-align:center;
  background:green;
  border:2px outset black;
}

@font-face {
    font-family: 'digital';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/digital-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "Chicago"; src: url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.eot"); src: url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.woff") format("woff"), url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/53dc764fd0dbbb3140b7909afd437722.svg#Chicago") format("svg"); }